body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
}
.header {
    background:#7bbfea;
    height: 50px;
    position: relative;
    width: 100%;
    -webkit-box-shadow:0 0 10px #ccc;  
    -moz-box-shadow:0 0 10px #ccc;  
    box-shadow:0 0 10px #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px; 
    -o-border-radius:3px;
    border-radius: 3px;  
}
.header a{
    height: 38px;
    width: 40px;
    position: absolute;
    margin: 5px 0px 0px 5px;
}
.header a img{
    width: 100%;
    height: 100%;
}
.header .title {
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    vertical-align: middle;
    padding: 0.5em 0px;
    font-family: "微软雅黑";
    max-width: 200px;
    width: 200px;
    margin: 0px auto;
    overflow: hidden;
    height: 22px;
}

.container{ 
 margin: 0 auto;
     min-width: 320px;
    max-width: 480px;
    min-height: 300px; width: 100%}
.width90{width: 90%}
.width80{width: 80%}
.width100{width: 100%}
.pt20{ padding-top: 10px;}
.fl{ float: left;}
.fr{ float: right;}
.none{ display: none;}

.tab-pane{display: none}
.active{ display: block;}

.input{    background: none repeat scroll 0 0 #F9F9F9;padding: 3px;}
.footer{text-align: center;}

.clear{clear: both}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    z-index: 999;
}
.footer {
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:box;  
    background-color: #7bbfea;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow:0 0 10px #ccc;  
    -moz-box-shadow:0 0 10px #ccc;  
    box-shadow:0 0 10px #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px; 
    -o-border-radius:3px;
    border-radius: 3px;  
}
.footer li {
    height:50px;
    position:relative;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
}


.sg_ing{
    height: 200px;
    width: 200px;
    margin: 20px auto;
    margin-top:50px; 
}
.sg_ing img{
    width: 100%;
    height: 100%;
}