*{
	margin: 0;
	padding: 0;
}
.container{
	background: #eee;
}
.menu .user_top{
	position: relative;
	width: 100%;
	height: 150px;
}
.menu .user_top img{
	height: 100%;
	width: 100%;
}
.user_top .head_pic{
	height: 70px;
	width: 70px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px; 
	-o-border-radius:35px;
	border-radius: 35px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -35px;
	overflow: hidden;
}
.user_top .head_pic img{
	height: 100%;
	width: 100%;
}
.user_top .head_name{
	position: absolute;
	top: 70%;
	width: 100%;
	color: #fff;
	text-align: center;
}
.user_butul2{
	margin-top: 20px;
}
.user_but{
	width: 100%;
	height: 35px;
	border: 0px solid red;
	padding-top: 10px;
	position: relative;
	background: #fff;
}
.user_but a{
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}
.user_but span{
	margin-left: 80px;
}
.user_but .but_pic{
	height: 30px;
	width: 35px;
	position: absolute;
	margin: -5px 0px 7.5px 40px;
	-webkit-border-radius:17.5px;
	-moz-border-radius:17.5px; 
	-o-border-radius:17.5px;
	border-radius: 17.5px;
	text-align: center;
	padding-top: 5px;
}
.user_but .but_pic i{
	color: #fff;
}
.but_right{
	float: right;
	margin-right: 30px;
}
.but_hr{
	position: absolute;
	border: 1px solid #ccc;
	bottom: 0;
	width: 80%;
	left: 0px;
}
/*返回用户中心*/
.back_user{
	position: fixed;
	height: 32px;
	width: 40px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px; 
	-o-border-radius:20px;
	border-radius: 20px;
	z-index: 999;
	top: 10px;
	right: 10px;
	text-align: center;
	padding-top: 8px;
}
.back_user a{
	margin-top: 10px;
	text-decoration: none;
	color: #fff;
}
